<ion-view view-title="Categories">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="category in categories" href="#/app/categories/{{category.name}}">
        {{ category.name }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
