<ion-view view-title="Random gif">
  <ion-content>
    <img on-tap="requestNewGif()" src="{{gif_url}}" class="center-content" >
    <p class="center-text"> Tap to get a new gif! </p>
  </ion-content>
</ion-view>
